/*----- General -----*/

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #3b3b3b;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/*----- Header -----*/

header {
  background-color: #374018dc;
  color: #f2f2f2;
  padding: 5px;
  text-align: center;
}

/*----- Background Video -----*/

#bg-video {
  position: fixed;
  /* I used 'position' to control where elements appear on the page. 
     This keeps the video fullscreen and fixed behind all content. */

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: -1;
  /* I learned about 'z-index' from W3Schools. 
     This ensures the background stays behind everything else. */
}

/*----- Custom Controls -----*/

.custom-controls {
  position: fixed;
  bottom: 85px; /* distance from footer */
  left: 10px; /* aligns to bottom-left corner */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /* makes sure it appears above the background video */
}

.custom-controls button {
  background-color: #f2f2f2aa; /* semi-transparent */
  border-radius: 10px;
  border-color: #5c8151c5;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/*----- Footer -----*/

footer {
  background-color: #5c8151c5;
  /* I used Adobe Color to extract grass tones from the video 
     so the footer blends with the theme. */

  color: #f2f2f2;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

/*----- Timer Display -----*/

.timer-display {
  font-size: 2.5rem;
  margin: 1rem 0;
  background: #d5edf2;
  opacity: 0.5;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 15px;
}

/*----- Button Styling -----*/

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.start-btn {
  background-color: #d5edf2;
  opacity: 0.75;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-btn:hover {
  background-color: #efdea6;
}

/*----- Responsive Style -----*/

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .btn-group {
    flex-direction: column;
    align-items: center;
  }
}
