body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(bckgrnd.jpg);
  /* sourced from freepix https://www.freepik.com/free-vector/arcade-game-world-pixel-scene_4815143.htm#fromView=search&page=3&position=18&uuid=1e777ecf-51b4-4391-936c-08dc742a9446&query=8bit */
  background-size: cover;
}

.sidebar {
  width: 250px; 
  height: 100vh;
  overflow-y: auto; /* Scrollable if needed */
  background: #f4d8f4ba;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* for 3 collumns */
  gap: 10px;
  padding: 10px;
  border-left: 1px solid #ccc;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999; /* So it stays on top of the other elements */
}

.sidebar img {
  width: 70px;
  height: 70px;
  object-fit: contain; /* so the image doesn't stretch */
  cursor: grab;
  user-select: none;
  margin-bottom: 10px;
}

.canvas {
  width: 1100px; 
  height: 80vh; /* 80% of viewport height */
  margin: 30px; /* Adds some space around it so we're able to see some of the background. */
  background: #f2aee0; /* used adobe colour to come up with a colour palette that sticks to my pink y2k theme.*/
  border: 1px dashed #ccc;
  position: relative; /* Needed for absolute positioning of elements inside */
  overflow: hidden;
}

.canvas-item {
  position: absolute;
  cursor: move;
  width: 200px; /* set a fixed width so the images are wide enough on the canvas. */
  height: auto; /* Let height adjust automatically so the images aren't stretched/squished */
}

.selected {
  outline: 3px solid #007bff; /* A bright blue outline to show the selection,
  as before I had a problem telling whether the element was selected or not. */
  outline-offset: 3px;
}

.textbox {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 150px;
  min-height: 30px;
  background-color: rgb(242, 123, 181);
  border: 2px solid #ffffff7f;
  border-radius: 5px;
  padding: 5px;
  font-family: sans-serif;
  cursor: move; /* shows move icon when it's not in typing mode */
  word-break: break-word; /* stops words from going over the textbox */
}

.toolbar {
  position: fixed;
  bottom: 0; /* decided to put the control panel at the botttom to align more with the 2000's paint look */
  left: 0;
  right: 250px; /* so the canvas doesn't clash with the sidebar */
  height: 60px;
  background-color: #cb4873; /* made colour palette with adobe colour */
  border-top: 2px solid #cbb2c4;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

button {
  font-size: 24px;
  border-radius: 10px;
}
