h1 {
  color: blue;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h2 {
  color: blueviolet;
  font-weight: bold;
}
body {
  color: darkslateblue;
}
body {
  background-color: antiquewhite;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
